//  CUSTOM BOOTSTRAP OVERRIDES
// $primary: #fc5200;
$font-family-sans-serif: "Lato", sans-serif;
$body-font-weight: 400;

//  COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$background-primary: #fc5200;

//  GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
